@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@layer utilities {
  .animate-float-slow {
    animation: float 6s ease-in-out infinite;
  }
  .animate-float-medium {
    animation: float 5s ease-in-out infinite;
  }
  .animate-float-fast {
    animation: float 4s ease-in-out infinite;
  }
}
